
.paymentCardOption[b-hkett3y23e] {
    text-align: center;
    border-radius: 30px;
    border: 2px solid #051922;
}
.paymentColOption[b-hkett3y23e] {
    margin: 10px 0px 0px 45px;
}
.paymentCardOption:hover[b-hkett3y23e] {
    border: 2px solid #F28123;
    background-color: #F28123;
    cursor: pointer;
}
.paymentCardOption:hover h3[b-hkett3y23e]{
    color: #fff;
}
.paymentCardOption:hover  h4[b-hkett3y23e] {
    color: #fff;
}
.paymentCardOption:hover  h5[b-hkett3y23e] {
    color: #fff;
}