@page "/logout"

@using System.Web


<h3>LogoutPage</h3>

@code {

    [Inject]
    IIdentityService identityService { get; set; }

    [Inject]
    NavigationManager navigationManager { get; set; }

    [Inject]
    StateManager stateManager{ get; set; }

    protected override void OnInitialized()
    {
        identityService.Logout();
        //var collection = HttpUtility.ParseQueryString(new Uri(navigationManager.Uri).Query);
        //string retunUrl = collection.Get("returnUrl") ?? "/";
        navigationManager.NavigateTo(navigationManager.BaseUri);
        stateManager.LoginChanged(this);
    }
}
