.page[b-vwa59klwtr] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-vwa59klwtr] {
    flex: 1;
}

.sidebar[b-vwa59klwtr] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-vwa59klwtr] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row  a[b-vwa59klwtr], .top-row .btn-link[b-vwa59klwtr] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-vwa59klwtr] {
        overflow: hidden;
        text-overflow: ellipsis;
    }
.main-btn[b-vwa59klwtr] {
    border: none;
    padding: 8px 40px;
    border-radius: 8px;
    display: block;
    /*background: #583672;*/
    color: #fff;
    font-weight: bold;
    -webkit-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    -moz-box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    box-shadow: 0px 9px 15px -11px rgba(88,54,114,1);
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    margin: 0 5px;
}

    .main-btn:hover[b-vwa59klwtr] {
        /*background-color: #332042;*/
        color: lightslategray;
    }


@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-vwa59klwtr] {
        display: none;
    }

    .top-row.auth[b-vwa59klwtr] {
        justify-content: space-between;
    }

    .top-row a[b-vwa59klwtr], .top-row .btn-link[b-vwa59klwtr] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-vwa59klwtr] {
        flex-direction: row;
    }

    .sidebar[b-vwa59klwtr] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-vwa59klwtr] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-vwa59klwtr] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

