
<div class="notification @(IsSuccess ? "success" : "error")">
    <span>@Message</span>
</div>

@*<style>
    /* Bildirim container'ı için stil */
    .notification-container {
        position: fixed;
        bottom: 10px; /* alt kenardan 10px uzaklıkta */
        left: 10px; /* sol kenardan 10px uzaklıkta */
        z-index: 9999; /* Diğer içeriklerin üzerinde görüntülenmesi için yüksek z-index değeri */
    }

    /* Bildirim bileşeni için stil */
    .notification {
        padding: 10px;
        border-radius: 5px;
        font-size: 16px;
        color: #fff;
        width: 200px; /* Bildirim genişliğini isteğe bağlı olarak ayarlayabilirsiniz */
    }

        /* Başarılı bildirim stil */
        .notification.success {
            background-color: #4CAF50;
        }

        /* Başarısız bildirim stil */
        .notification.error {
            background-color: #F44336;
        }
</style>*@
@code {
    [Parameter]
    public string Message { get; set; }
    [Parameter]
    public bool IsSuccess { get; set; }

}
