
.paymentCardOption {
    text-align: center;
    border-radius: 30px;
    border: 2px solid #051922;
}
.paymentColOption {
    margin: 10px 0px 0px 45px;
}
.paymentCardOption:hover {
    border: 2px solid #F28123;
    background-color: #F28123;
    cursor: pointer;
}
.paymentCardOption:hover h3{
    color: #fff;
}
.paymentCardOption:hover  h4 {
    color: #fff;
}
.paymentCardOption:hover  h5 {
    color: #fff;
}