<!-- footer -->
<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Hakkımızda</h2>
                    <p> E-ticaret Firması, en kaliteli ürünleri ve hizmetleri sunarak müşteri memnuniyetine odaklanmış bir e-ticaret şirketidir. Mağazada moda, ev dekorasyonu ve diğer birçok kategoride ürünler bulunmaktadır.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">İletişime geçin</h2>
                    <ul>
                        <li>Beşiktaş, İstanbul</li>
                        <li>support@e-ticaret.com</li>
                        <li>0216 999 99 99</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Sayfalar</h2>
                    <ul>
                        <li><a href="/">Anasayfa</a></li>
                        <li><a href="/Product">Product</a></li>
                        <li><a href="/About">Hakkımızda</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end footer -->

@code {

}
